.hoverable:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.table-hover tbody tr:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.027);
}

#infinite-table tr {
    border: none;
}

/*
#infinite-table {
    height: 395px;
    border: 1px solid #dee2e6;
    overflow: auto;
}

#infinite-table td, #infinite-table th {
    border-bottom: 1px solid #dee2e6;
    border-top: none;
    border-right: none;
    border-left: none;
}

#infinite-table tr:last-child td {
    border-bottom: none;
}

#infinite-table thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
}*/
